@charset "utf-8";

body{
    background-color: #232323;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: white;
}
a:hover{
    color: rgb(132, 14, 201);
    transition: 1ms all;
}
#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 30px;
    
}
#inscreva-se-btn:hover{
    color: white;
    background-color: rgb(132, 14, 201);
}
h1{
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
span{
    color: rgb(132, 14, 201);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}
img{
    width: 620px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;

}
form [type="submit"]:hover{
    cursor: pointer;

}



input{
    padding: 15px;
    margin-top: 5px;
    height: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;

}